@import "tailwindcss";

@theme inline{
    --color-emphasis: var(--color-blue-700);
    --color-dark-primary: var(--color-slate-800);
    --color-dark-secondary: var(--color-slate-400);
    --color-dark-border: var(--color-slate-700);
    --color-light-border: var(--color-slate-500);
    --color-light-primary: var(--color-neutral-200);
}